title: ElixirConf EU
description: > # this means to ignore newlines until "baseurl:"
Join us for ElixirConf EU 2024 in Lisbon on 18-19 April: two days of first-rate Elixir talks and networking.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://www.elixirconf.eu" # the base hostname & protocol for your site

logo: "./assets/images/logo2022.png"

# google_site_verification: googleXXXXXXXXXXXXXXXX.html

include: [archives]

plugins:
  - jekyll-sitemap
  - jekyll-seo-tag

# Social networks usernames (many more available: google-plus, flickr, dribbble, pinterest, instagram, tumblr, linkedin, etc.)
social:
  - title: twitter
    url: https://twitter.com/elixirconfeu
    username: elixirconfeu
    card: image

# Build settings
markdown: kramdown
permalink: pretty

collections:
  participants:
    output: true
  testimonials:
    output: true
  keynotes:
    output: true
  trainers:
    output: true
  trainings:
    output: true
  talks:
    output: true
  posts:
    output: true
  videos:
    output: true
  archive:
    output: true

defaults:
  - scope:
      path: ""
      type: "participants"
    values:
      layout: "participant"
  - scope:
      path: ""
      type: "trainings"
    values:
      layout: "training"
  - scope:
      path: ""
      type: "talks"
    values:
      layout: "talk"
  - scope:
      path: ""
      type: "keynotes"
    values:
      layout: "talk"
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
      type: "videos"
    values:
      layout: "video"
  - scope:
      path: ""
      type: "archives"
    values:
      layout: "archive"
  - scope:
      path: ""
    values:
      layout: "default"

# Google Map JS api
# This is my api for this template
key-api: AIzaSyBf-F7nBzxi_73uI9QUxRQ-cNihYtlZ_AA
map-text: DoubleTree by Hilton
map-text-location: Dąbska 5, 31-572 Kraków, Poland
map-lat: 50.06464869180978
map-lng: -19.98181385577854
