---
layout: default
title: Home

---
{% include cover.html %}
<!-- end of cover -->
{% include banner-1.html %}
<!-- end of banner-1  -->
{% include welcome.html %}
<!-- end of welcome -->
{% include register.html %}
<!-- end of register -->
{% include keynotes.html %}
<!-- end of speakers -->
<!--{% include speakers.html %}
<!-- end of speakers -->
{% include video.html %}
<!-- end of video -->
<!--{% include lightningtalks.html %} -->
<!-- end of lightningtalks -->
<!--{% include trainers.html %} -->
<!-- end of trainers -->
<!--{% include banner-2.html %}-->
<!-- end of banner-2 -->
<!--{% include schedule.html %}-->
<!-- end of schedule -->
{% include training.html %}
<!-- end of training -->
{% include banner-3.html %}
<!-- end of banner-3 -->
{% include newsletter.html %}
<!-- end of newsletter -->
<!-- {% include diversity.html %} -->
<!-- end of diversity -->
{% include blog.html %}
<!-- end of blog -->
{% include venue.html %}
<!-- end of venue -->
{% include covid-19.html %}
<!-- end of covid-19 -->
{% include hybrid.html %}
<!-- end of hybrid -->
{% include cft.html %}
<!-- end of cft  -->
{% include sponsors.html %}
<!-- end of sponsors -->
<!-- {% include contact.html %} -->
<!-- end of contact -->
