---
layout: default
title: Home

---
{% include cover.html %}
<!-- end of cover -->
{% include banner-1.html %}
<!-- end of banner-1  -->
{% include welcome.html %}
<!-- end of welcome -->
{% include register.html %}
<!-- end of register -->
{% include keynotes.html %}
<!-- end of speakers -->
{% include speakers.html %}
<!-- end of speakers -->
{% include video.html %}
<!-- end of video -->
{% comment %} {% include lightningtalks.html %} {% endcomment %}
<!-- end of lightningtalks -->
{% comment %} {% include trainers.html %} {% endcomment %}
<!-- end of trainers -->
{% include banner-2.html %}
<!-- end of banner-2 -->
{% comment %} {% include schedule.html %} {% endcomment %}
<!-- end of schedule -->
{% include training.html %}
<!-- end of training -->
{% include banner-3.html %}
<!-- end of banner-3 -->
{% include diversity.html %}
<!-- end of diversity -->
{% include venue.html %}
<!-- end of venue -->
{% include covid-19.html %}
<!-- end of covid-19 -->
{% include hybrid.html %}
<!-- end of hybrid -->
{% include shop.html %}
<!-- end of shop -->
{% include blog.html %}
<!-- end of blog -->
{% include cft.html %}
<!-- end of cft  -->
{% include sponsors.html %}
<!-- end of sponsors -->
{% include newsletter.html %}
<!-- end of newsletter -->
{% comment %}{% include contact.html %} {% endcomment %}
<!-- end of contact -->
