---
layout: default
title: Home

---
{% include cover.html %}
<!-- end of cover -->
{% include banner-1.html %}
<!-- end of banner-1  -->
{% include welcome.html %}
<!-- end of welcome -->
{% include register.html %}
<!-- end of register -->
{% include cft.html %}
<!-- end of cft  -->
{% comment %} {% include recordings.html %} {% endcomment %}
<!-- end of recordings -->
{% comment %} {% include banner-2.html %} {% endcomment %}
<!-- end of banner-2 -->
{% comment %} {% include banner-5.html %} {% endcomment %}
<!-- end of banner-5 -->
{% comment %} {% include video.html %} {% endcomment %}
<!-- end of video -->
{% comment %} {% include keynotes.html %} {% endcomment %}
<!-- end of speakers -->
{% comment %} {% include speakers.html %} {% endcomment %}
<!-- end of speakers -->
{% comment %} {% include lightningtalks.html %} {% endcomment %}
<!-- end of lightningtalks -->
{% include trainers.html %}
<!-- end of trainers -->
{% comment %} {% include schedule.html %} {% endcomment %}
<!-- end of schedule -->
{% include training.html %}
<!-- end of training -->
{% comment %} {% include banner-3.html %} {% endcomment %}
<!-- end of banner-3 -->
{% comment %} {% include diversity.html %} {% endcomment %}
<!-- end of diversity -->
{% include venue.html %}
<!-- end of venue -->
{% comment %} {% include banner-4.html %} {% endcomment %}
<!-- end of banner-4 -->
{% include covid-19.html %}
<!-- end of covid-19 -->
{% include hybrid.html %}
<!-- end of hybrid -->
{% comment %} {% include shop.html %} {% endcomment %}
<!-- end of shop -->
{% include blog.html %}
<!-- end of blog -->
{% comment %} {% include sponsors.html %} {% endcomment %}
<!-- end of sponsors -->
{% include newsletter.html %}
<!-- end of newsletter -->
{% include contact.html %}
<!-- end of contact -->