---
layout: default
title: ElixirConf EU 2025 Lightning Talks
permalink: /lightning-talks
image: assets/images/ELIXIR2025_1920x1080.jpg
description: Watch the exciting 5-minute lightning talks from ElixirConf EU 2025
---

<section class="inner-page pt-5">
    <div class="container">
        <div class="row mb-5 text-center">
            <div class="col-md-12">
                <!--    <h1 class="display-4 text-blue">ElixirConf EU 2025 Lightning Talks</h1>
        <p class="lead">Watch the exciting 5-minute talks from our community members</p> -->
                <hr class="divider-primary" />
            </div>
        </div>
    </div>
</section>

{% include lightning_talks.html %}
<!-- end of lightning_talks -->
{% include newsletter.html %}
<!-- end of newsletter -->
