<div
    class="banner-2"
    id="banner-6"
    style="
        background-color: #9ad7d8;
        padding-top: 2em;
        flex-direction: column;
        text-align: center;
    "
>
    <h2
        class="title"
        style="
            color: #3a1d4c;
            width: 100%;
            font-size: 2em;
            font-weight: 600;
            letter-spacing: 0.1em;
        "
    >
        CALL FOR TRAINING
    </h2>
    <hr />
    <p
        class="text-content"
        style="color: #3a1d4c; margin: 0 0 1.5em 0; font-size: 1.1em"
    >
        Want to share your expertise during a training session? Our Call For
        Training is open until 15 December!
    </p>
    <a
        class="page-scroll btn-outline btn-orange"
        href="https://forms.gle/YUF9p6R2Q8orFEQP8"
        >SUBMIT YOUR TRAINING</a
    >
</div>
