<div class="section blog" id="blog">
    <h1 class="title">OUR BLOG</h1>
    <hr/>
    <p class="section-text">
        Nulla a tellus at turpis gravida congue non interdum et malesuada fames ac
                                                                                                                                            ante ipsum primis
    </p>
    <div class="posts-container">
        {% for post in site.posts %}
            <div class="post-item">
                <div class="img" style="background-image: url('{{site.baseurl}}/assets/images/posts/{{ post.pic_url }}');"></div>
                <h2 class="post-title">
                    {{ post.title }}
                </h2>
                <p class="post-item-tags">tags</p>
                <div class="item-container">
                    <div class="item-left">
                        <div class="item-date">
                            <p class="date-day">26</p>
                            <p class="date-month">May</p>
                        </div>
                        <div class="item-hour">15:32</div>
                    </div>
                    <div class="item-right">
                        {{ post.excerpt }}
                        <a class="btn-more" href="{{site.baseurl}}{{post.url}}">Read More</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
