<div class="section" id="call-for-training">
    <h2 class="title">CALL FOR TRAINING</h2>
    <hr />
    <p class="text-title mb-1" style="color: #e152b5; text-align: center">
        ElixirConf® EU 2026 conference will be accompanied by one day of
        in-person tutorials.
    </p>
    <p class="text-content mb-2" style="text-align: center">
        We'd love to hear from you if you'd like to become one of our trainers.
        CFT deadline: <strong>6 January 2026.</strong>
    </p>
    <p class="text-content mb-5" style="margin-top: 3em; text-align: center">
        <a
            class="page-scroll btn-outline btn-orange"
            href="https://forms.gle/YUF9p6R2Q8orFEQP8"
            >SUBMIT YOUR TRAINING</a
        >
    </p>
</div>
