<div class="section contact" id="call-for-training">
    <h2 class="title">CALL FOR TRAINING</h2>
    <hr/><br>
    <div>
      <h3 class="text-title mb-1" style="color: #e152b5">ElixirConf® EU 2023 is a two-track conference with 40-minute speaking slots including optional Q&A.</h3>
      <p class="text-content mb-2" align="left" style="color: white">Do you have knowledge or experience with Elixir and its ecosystem? Would you like to share that knowledge and experience with your peers?
Whether you are new to Elixir or a seasoned developer on a core team, we want to hear what you can share with the global Elixir community. This year we are looking for speakers with Elixir-centric content and who can bring pragmatic and practical knowledge into their Elixir talks. CFT deadline: <strong>11 December 2022.</strong><br>
          <ul class="text-content mb-2" align="left" style="color: white">
          Here are some topics to help spark some ideas:
            <li><strong>Elixir</strong>: Elixir, Phoenix, Livebook, Nx, Nerves, LiveView, Scenic, Ecto, Your (or your team/company's) journey on adopting and/or working with Elixir</li>
            <li><strong>Data & Distribution</strong>: Managing Distributed, Concurrent, or Multi-Node Systems, Elixir in the fields of: Web, Medical, Data Analytics, ML, or AI</li>
  <li><strong>Infrastructure</strong>: Elixir Deployments, Releases, CI/CD, and Infrastructure, Build/Test/Deploy Environment, Compilers, Formatters, Mix</li>
  <li><strong>Tools & Testing</strong>: Development Tools, Dialyzer, Debugging, Tracing, Profiling, Other Related Topics (BEAM, ETS, OTP, CRDT, Testing, Streaming)</li>
          </ul>
      <p class="text-content mb-5" align="center" style="margin-top:3em">
      <a class="page-scroll btn-outline btn-orange mb-5 btn-orange" href="https://sessionize.com/elixirconfeu-2023/">SUBMIT YOUR TALK</a>
    </div>
</div>
