<div class="section cft" id="cft">
    <h2 class="title">CALL FOR TALKS</h2>
    <hr/>

            <h3 class="text-title mb-1">ElixirConf® EU 2021 is a two-track conference with 40-minute speaking slots with optional Q&A.</h3>
            <p class="text-content mb-2">
            We are looking for speakers with Elixir-centric content and also speakers who can bring pragmatic and practical knowledge into their Elixir talks. It doesn't matter if you are new to Elixir or have multiple years on a core team. We look forward to what you can share with the global Elixir community.
            </p>
            <a class="page-scroll btn-outline-dark btn-purple ml-1" href="https://eventil.com/events/elixirconf-eu-2021/cfp">Submit</a>

     </div>
 </div>
