<div class="section cft" id="cft">
    <h2 class="title">CALL FOR TALKS</h2>
    <hr/>
    <div>
      <h3 class="text-title mb-1">ElixirConf® EU 2021 is a two-track conference with 40-minute speaking slots with optional Q&A.</h3>
      <p class="text-content mb-2" align="left">We are looking for speakers with Elixir-centric content and also speakers who can bring pragmatic and practical knowledge into their Elixir talks. It doesn't matter if you are new to Elixir or have multiple years on a core team. We look forward to what you can share with the global Elixir community.<br>
          <ul class="text-content mb-2" align="left">
          <ul>Below are some topics to get your creative juices flowing:
            <li>Adoption and/or leveraging of Elixir</li>
            <li>Elixir Ecosystems: Phoenix, Ecto, Nerves, Scenic, LiveView</li>
            <li>Deployment: Tools, strategies, and stories</li>
            <li>Distributed Systems: Presence, Broadway, multi-node, and stories</li>
            <li>In the Wild: Elixir in Web, Gaming, Medical, Data science, etc</li>
            <li>Elixir for Corporate Computing, Small Businesses or Startups</li>
            <li>Tools and Testing: Methodologies, IDEs, and strategies</li>
            <li>Related Topics (BEAM, ETS, OTP, CRDT, Compiler)</li>
          </ul>
      <p class="text-content mb-5" align="center" style="margin-top:3em">
      <a class="page-scroll btn-outline btn-orange mb-5 btn-orange" href="https://eventil.com/events/elixirconf-eu-2021/cfp">Submit</a>
    </div>
</div>
