<div class="cover" id="cover">
  <div class="logo">
    <img src="{{ site.baseurl }}/assets/images/logo.svg" alt="icon-about" />
  </div>
  <h4 class="date" style="text-align:center;">OUR NEXT EVENT<br /> 
    <span style="color:#fff;font-size:22px;">Join us 15-16 April @ ElixirConf EU 2021</span><br>
     <span style="color:#fff;font-size:22px;">Warsaw, Poland
       <a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg=ElixirConf+EU+Virtual&iso=20201007T13&p1=262" target="_blank" rel="noopener">Check the time in your zone <b>here</b></a></span>
      </h4> 
  <a class="page-scroll btn-outline mb-3 btn-purple" href="https://www2.elixirconf.eu/elixirconf-eu-waiting-list-2021">JOIN THE WAITING LIST</a
    
  <h4 class="date" style="text-align:center;">Call for Talks for 2021 live edition is open!<br /> 
    <span style="color:#fff;font-size:22px;">Conference 15-16 April 2021 | Training 14 October | Warsaw</span><br>
  </h4> 
  <a class="page-scroll btn-outline mb-3 btn-purple" href="https://eventil.com/events/elixirconf-eu-2021">SUBMIT TALK</a

  <a class="page-scroll btn-arrow" href="#welcome">
    
  </a>
</div>
