<div class="cover" id="cover">
  <div class="logo">
    <img src="{{ site.baseurl }}/assets/images/logo2024www.svg" alt="icon-about">
  </div>
  <h4 class="date" style="text-align:center;">Save the date! 15-16 May 2025 | Kraków & Virtual<br />
  <span style="color:#fff;font-size:22px;"> Waiting list is open - join for exclusive access to the very early birds pricing.<br></span>
  </h4>
<!--   <a class=" btn-outline mb-1 btn-purple" href="https://www.elixirconf.eu/#register">REGISTER</a>
  <h4 class="date" style="text-align:center;">Call for Talks is open!</h4>
  <a class="page-scroll btn-outline mb-3 btn-purple" href="https://eventil.com/events/elixirconf-eu-2021/cfp">SUBMIT TALK</a>
  <a class="page-scroll btn-arrow" href="#welcome">
    <span class="fa fa-chevron-down"></span>
  </a>-->
</div>
