<div class="cover" id="cover">
  <div class="logo">
    <img src="{{ site.baseurl }}/assets/images/logo2022.svg" alt="icon-about">
  </div>
  <h4 class="date" style="text-align:center;">ElixirConf EU 2023 is back!<br />
  <span style="color:#fff;font-size:22px;">Hybrid conference 20-21 April 2023 | Training 18-19 April | Lisbon/virtual<br></span>
  </h4>
<!--   <a class=" btn-outline mb-1 btn-purple" href="https://www.elixirconf.eu/#register">REGISTER</a>
  <h4 class="date" style="text-align:center;">Call for Talks for 2023 is open!</h4>
  <a class="page-scroll btn-outline mb-3 btn-purple" href="https://eventil.com/events/elixirconf-eu-2021/cfp">SUBMIT TALK</a> -->
  <a class="page-scroll btn-arrow" href="#welcome">
    <span class="fa fa-chevron-down"></span>
  </a>
</div>
