<div class="section covid-19" id="covid-19">
    <div class="row">
        <div class="logo">
            <br/>
            <img src="/assets/images/safety.jpg" alt="safety" style="display:block; width:80%; margin-left: auto; margin-right: auto">
        </div>
        <div class="right-content right">
          <h2 class="title">COVID-19 SAFETY GUIDELINES</h2>
          <hr/>
          <p>Your safety and the safety of others are of the utmost importance to us as organisers and the ILEC Conference Centre. The government has now removed the remaining domestic restrictions in England. There are still steps you can take to reduce the risk of catching and spreading COVID-19:&nbsp;</p>
    <p>- Get vaccinated Consider wearing a face covering in crowded, enclosed spaces&nbsp;</p>
    <p>- Self-isolate if feeling unwell</p>
  
          <p class="text-content mb-5" align="center" style="margin-top:3em">
          <a class="page-scroll btn-outline btn-orange mb-5 btn-orange" href="https://www.elixirconf.eu/2021/12/03/Covid-19-safety-guidelines/">Read more</a>
        </div>
    </div>


</div>
