<div class="section covid-19" id="covid-19">
    <div class="row">
        <div class="left-content">
            <br/>
            <img src="/assets/images/covid-safety.jpg" alt="hybrid-conference" style="width:680px;">
        </div>
        <div class="right-content right">
          <h2 class="title">COVID-19 SAFETY GUIDELINES</h2>
          <hr/>
          <p>Your safety and the safety of others is of the utmost importance to us as organisers and The Hilton Warsaw.
            <br/><br/>All attendees must present <b>one</b> of the following:<br/>
          </p>
          <br/>
            <ul class="text-content">
              <li>A negative COVID test dated no more than 72 hours prior to the conference (both quick test and PCR test are accepted)</li>
              <li>Proof of vaccination (either in writing, on a card, or on the mObywatel app - QR code)</li>
              <li>A waiver form signed a day prior to the conference via conference app or signed on paper on the day of the conference.</li>
            </ul>
          <br/>
          <p>Do not attend if you or anyone you have been in contact with has shown any symptoms of COVID 72 hours prior.
          </p>
          <p class="text-content mb-5" align="center" style="margin-top:3em">
          <a class="page-scroll btn-outline btn-orange mb-5 btn-orange" href="https://www.elixirconf.eu/2021/06/17/Covid-19-safety-guidelines/">Read more</a>
        </div>
    </div>


</div>
