<div class="section welcome" id="diversity">
    <h2 class="title">DIVERSITY</h2>
    <hr/>
    <p class="text-content">
        Thanks to Erlang Solutions, Fresha and Starfish support, ElixirConf EU 2024 is implementing a Diversity & Inclusion Programme!
The goal of the programme is to increase the diversity of attendees and offer support to groups underrepresented in the tech community who would not otherwise be able to attend the conference. The Diversity & Inclusion Programme focuses primarily on empowering women, ethnic minorities or people with disabilities, among others, but everybody is welcome to apply. Read more about the process
    </p>
    <p class="text-content mb-5" align="center" style="margin-top:3em">
    <a class="page-scroll btn-outline btn-orange mb-5 btn-orange" href="https://forms.gle/b5jBBhKFsrCgQLDL9">APPLY</a>
</div>
