<div class="section welcome" id="diversity">
    <h2 class="title">DIVERSITY</h2>
    <hr/>
    <p class="text-content">
        We are pleased to announce that thanks to Multiverse's & Remote's support, ElixirConf EU 2022 is implementing a Diversity Scheme. The goal of the programme is to
        improve diversity at the conference and to offer support to those in the tech community who would not otherwise be able
        to attend, aimed at (but not restricted to) women, people from ethic minorities and people with disabilities.
    </p>
    <p class="text-content mb-5" align="center" style="margin-top:3em">
    <a class="page-scroll btn-outline btn-orange mb-5 btn-orange" href="https://docs.google.com/forms/d/e/1FAIpQLSeviQjCwaIwPzFjXdns0aKXsODQrUuTJIjLOH85lp_IR3Tz5Q/viewform?usp=sf_link">Apply</a>
</div>
