<div class="section welcome" id="diversity">
    <h2 class="title">DIVERSITY</h2>
    <hr/>
    <p class="text-content">
        Thanks to Fresha's support, ElixirConf EU 2025 is implementing a Diversity & Inclusion Programme!
The goal of the programme is to increase the diversity of attendees and offer support to groups underrepresented in the tech community who would not otherwise be able to attend the conference. The Diversity & Inclusion Programme focuses primarily on empowering women, ethnic minorities or people with disabilities, among others, but everybody is welcome to apply.
    </p>
    <p class="text-content mb-5" align="center" style="margin-top:3em">
    <a class="page-scroll btn-outline btn-orange mb-5 btn-orange" href="https://docs.google.com/forms/d/e/1FAIpQLSdWtFjusSiM91_CX89xbA-HnL2IsD588pK_GtJc67qZcZ5-mw/viewform?usp=header">APPLY</a>
</div>
