<div class="footer" id="footer">
    <div class="social-icons">
        <a href="https://www.youtube.com/@CodeSync" target="_blank">
            <i class="fi flaticon-youtube"></i>
        </a>
        <a href="https://twitter.com/elixirconfeu?lang=en" target="_blank">
            <i class="fi flaticon-twitter"></i>
        </a>
    </div>

    <hr/>

    <p>All Rights Reserved</p>

    <p>
        <strong>ElixirConf EU</strong>© 2024 Copyright
    </p>

    <p>
        <strong>Co-organised by <strong><a href="https://www.codesync.global">Code Sync</a></strong> and <a href="https://elixirconf.com/">ElixirConf &reg;</a></strong>
    </p>

    <br>

    <p>
        <strong>View <a href="assets/images/CoCECEU.pdf"> Code of Conduct</a> </strong>
        <strong>and <a href="https://codesync.global/privacy_policy/"> Privacy Policy</a> </strong>
        <br>
    </p>
</div>
