<div class="footer" id="footer">
    <div class="social-icons">
        <a href="https://www.youtube.com/watch?v=8xJzHq8ru0M&list=PLvL2NEhYV4ZtoiQC735NjHyPJUS_nmrxy" target="_blank">
            <i class="fi flaticon-youtube"></i>
        </a>
        <a href="https://twitter.com/elixirconfeu?lang=en" target="_blank">
            <i class="fi flaticon-twitter"></i>
        </a>
    </div>
    <hr/>
    <p>All Rights Reserved</p>
    <p>
        <strong>ElixirConf EU</strong>
        © 2020 Copyright</p>
        <p>
            <strong>Co-organised by <a href="https://2020.elixirconf.com/">ElixirConf &reg;</a></strong> and <a href="https://www2.erlang-solutions.com/elixir-conf">Erlang Solutions</a></strong>
</p>
      <p>
    <br>
            <strong>View <a href="assets/images/CoCEU.pdf"> Code of Conduct</a> </strong>
          <br>
          <strong>View <a href="/assets/images/privacy-policy-elixir-conf-11-2020.pdf"> Privacy Policy</a> </strong>
          <br>
            <strong>Please note that we do not sell attendee lists or data to third parties. 
                Attendee data is used solely for the purpose of Codesync events. 
                If a party contacts you purporting to sell attendance list data please inform us immediately. </strong>
</div>
