<div class="footer" id="footer">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, nostrum
                            optio eius iure eaque culpa fugiat error nam ad aliquam ab numquam sequi
                            dolore, necessitatibus ipsam labore soluta, pariatur amet!
    </p>
    <div class="social-icons">
        <ul class="icons">
            <li>
                <a href="{{ site.youtube }}" target="_blank">
                    <i class="fi flaticon-youtube"></i>
                </a>
            </li>
            <li>
                <a href="{{ site.pinterest }}" target="_blank">
                    <i class="fi flaticon-pinterest"></i>
                </a>
            </li>
            <li>
                <a href="{{ site.facebook }}" target="_blank">
                    <i class="fi flaticon-facebook"></i>
                </a>
            </li>
            <li>
                <a href="{{ site.twitter }}" target="_blank">
                    <i class="fi flaticon-twitter"></i>
                </a>
            </li>
            <li>
                <a href="{{ site.google-plus }}" target="_blank">
                    <i class="fi flaticon-google-plus"></i>
                </a>
            </li>
            <li>
                <a href="{{ site.vimeo }}" target="_blank">
                    <i class="fi flaticon-vimeo"></i>
                </a>
            </li>
        </ul>
    </div>
    <hr/>
    <p>All Rights Reserved</p>
    <p>
        <strong>ElixirConf EU</strong>
        © 2019 Copyright</p>
</div>
