
<div class="section healthadvice" id="healthadvice">
    <h2 class="title">Health Advice</h2>
    <hr/>

    <div class="row align-center">
        <div class="left-content flex-end">
        
        <p class="text-content mb-2">The health, safety and wellbeing of all visitors to our events is of the utmost importance. We are currently monitoring the effect of the outbreak of coronavirus disease (COVID-19) upon our conferences and would like to let you know that ElixirConf EU 2020 is still going ahead. If that changes we will notify all ticket holders immediately and post a further statement here.</p>
       </div>
        <div class="right-content">
<p class="text-content mb-2">If it becomes necessary to cancel ElixirConf EU, we will issue a full refund to everyone attending. We will not be able to refund any travel or accommodation costs, so we advise everyone to book flights and accommodation that can be rebooked. 
    
<a href="mailto:info@elixirconf.eu/?subject=Health-advice" style="color:#331f3c;">Contact us</a> if you have any further concerns.
           </p>
            <br />  
            <p><a href="https://www.elixirconf.eu/coronavirus-update/" style="text-decoration:underline;color:#553265">More info</a></p>
    
        </div>
    </div>
</div>
