<div class="section hybrid" id="hybrid">
    <div class="row">
        <div class="left-content left">
          <h2 class="title">GOING HYBRID</h2>
          <hr/>
          <p>September is coming close and though the pandemic situation is not yet fully contained, we’re optimistic to meet with you in Warsaw and we will make sure not only to deliver a great experience, but also that it’s delivered in a safe environment. However, we’re also keeping in mind that by then not everyone will be able to travel, therefore, we’ve decided to make ElixirConf EU a hybrid event, combining both an in-person and virtual conference.
            <br/><br/>There will be two different categories of tickets going on sale at the same time - for the in-person conference and training and for virtual conference attendance and separate virtual training.
          </p>
          <p class="text-content mb-5" align="center" style="margin-top:3em">
          <a class="page-scroll btn-outline btn-orange mb-5 btn-orange" href="https://www.elixirconf.eu/2021/05/10/Hybrid-conference-what-to-expect-&-FAQ/">READ MORE</a>
        </div>
        <div class="right-content">
            <br/>
            <img src="/assets/images/hybrid-conference.png" alt="hybrid-conference" style="width:500px;">
        </div>
    </div>


</div>
