<div class="section newsletter" id="newsletter">
    <h2 class="title">JOIN THE WAITING LIST
</h2>
    <hr/>
    <p class="section-text mb-3">
Get access to exclusive Very Early Bird Price and be the first to get news about the event! Just subscribe to the event mailing list.

    </p>
    <div class="form-container">
        <iframe allowtransparency="true" frameborder="0" height="500" src="https://www2.codesync.global/l/23452/2023-10-14/7ls9h8" style="border: 0" type="text/html" width="100%"></iframe>


    </div>
</div>
