{% assign participant = include.participant %}
<!-- keynote -->
{% for keynote in site.keynotes %}
    {% if keynote.speakers contains participant.path %}
        <a href="{{ keynote.url | relative_url }}">
            <p class="item-training">Keynote:
                {{ keynote.title }}</p>
        </a>
    {% endif %}
{% endfor %}

<!-- speaker -->
{% for talk in site.talks %}
    {% if talk.speakers contains participant.path %}
        <a href="{{ talk.url | relative_url }}">
            <p class="item-training">Speaker:
                {{ talk.title }}</p>
        </a>
    {% endif %}
{% endfor %}

<!-- speaker -->
{% for training in site.trainings %}
    {% if training.trainers contains participant.path %}
        <a href="{{ training.url | relative_url }}">
            <p class="item-training">Training:
                {{ training.title }}</p>
        </a>
    {% endif %}
{% endfor %}