<div class="section register" id="register">
    <h2 class="title">REGISTER</h2>
    <hr>
<div class="register-widget" id="eventbrite-widget-container-82221947057">&nbsp;</div>

<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

<script type="text/javascript">
    var exampleCallback = function() {
        console.log('Order complete!');
    };

    window.EBWidgets.createWidget({
        // Required
        widgetType: 'checkout',
        eventId: '82221947057',
        iframeContainerId: 'eventbrite-widget-container-82221947057',

        // Optional
        iframeContainerHeight: 400,  // Widget height in pixels. Defaults to a minimum of 400px if not provided
        onOrderComplete: exampleCallback  // Method called when an order has successfully completed
    });
</script><br/>
<div id="eventbrite-widget-container-159985744669"></div>

<script src="https://www.eventbrite.co.uk/static/widgets/eb_widgets.js"></script>

<script type="text/javascript">
    var exampleCallback = function() {
        console.log('Order complete!');
    };

    window.EBWidgets.createWidget({
        // Required
        widgetType: 'checkout',
        eventId: '159985744669',
        iframeContainerId: 'eventbrite-widget-container-159985744669',

        // Optional
        iframeContainerHeight: 400,  // Widget height in pixels. Defaults to a minimum of 400px if not provided
        onOrderComplete: exampleCallback  // Method called when an order has successfully completed
    });
</script>
</div>
