<div class="section register" id="register">
    <h2 class="title">REGISTER</h2>
    <hr/>
<div class="register-widget" id="eventbrite-widget-container-778259363707">&nbsp;</div>

<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

<script type="text/javascript">
var exampleCallback = function() {
    console.log('Order complete!');
};

window.EBWidgets.createWidget({
    // Required
    widgetType: 'checkout',
    eventId: '778259363707',
    iframeContainerId: 'eventbrite-widget-container-778259363707',

    // Optional
    iframeContainerHeight: 700,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
    onOrderComplete: exampleCallback  // Method called when an order has successfully completed
});
</script>
    <br><br><br><br><hr/><br><br><br><br>
    
<div class="register-widget" id="eventbrite-widget-container-778324799427">&nbsp;</div>

<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

<script type="text/javascript">
    var exampleCallback = function() {
        console.log('Order complete!');
    };

    window.EBWidgets.createWidget({
        // Required
        widgetType: 'checkout',
        eventId: '778324799427',
        iframeContainerId: 'eventbrite-widget-container-778324799427',

        // Optional
        iframeContainerHeight: 700,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
        onOrderComplete: exampleCallback  // Method called when an order has successfully completed
    });
</script>
</div>
