<div class="section schedule" id="schedule">
    <h2 class="title">SCHEDULE</h2>
    <hr>
    <div>
       
            <div>
                <div title="Whova event and conference app" id="whova-agendawidget">
                    <p id="whova-loading">Loading...</p>
                </div>
                <script src="https://whova.com/static/frontend/xems/js/embed/embedagenda.js?eid=V6udBahU6T7z3LLz8agbizFXF-03zPf5tZf9mu7dyPA%3D&host=https://whova.com" type="text/javascript"  id="embeded-agenda-script">
                </script>
                <div id="whova-wrap" class="whova-wrap-class">
                    Powered By
                    <a class="brandlink" target="_blank" href="https://whova.com">
                        <b>Whova</b>
                    </a>
                    <br/>
                    <a class="whova-emslink brandanchorlink" target="_blank" href="https://whova.com/whova-event-app/">
                        Event App
                    </a>
                </div>
            </div>
        
    </div>
    </hr>
 </div>
