<div class="section schedule" id="schedule">
    <h2 class="title">SCHEDULE</h2>
    <hr>
    <div>
        <div title="Whova event and conference app" id="whova-agendawidget">
            <p id="whova-loading">Loading...</p>
        </div>
        <script src="https://whova.com/static/frontend/xems/js/embed/embedagenda.js?eid=elixi1_202104&host=https://whova.com" type="text/javascript"  id="embeded-agenda-script">
        </script>
        <div id="whova-wrap">
            Powered By
            <a class="brandlink" target="_blank" href="https://whova.com/blog/event-registration-software-price-comparison/">
                <b>Whova</b>
            </a>
            <br/>
            <a id="whova-emslink" class="brandanchorlink" target="_blank" href="https://whova.com/blog/event-registration-software-price-comparison/">
                Online event registration
            </a>
        </div>
    </div>
    </hr>
 </div>
