<div class="section shop" id="shop">
  <div class="row">
      <div class="left-content left">
        <h2 class="title">E-SHOP</h2>
        <hr/>
        <p>For the second time we have created ElixrConf EU e-shop with conference swag!
          <br><br>Now you can not only participate in our ElixirConf 2022 hybrid experience, but also order LD t-shirts (included in the in-person ticket!), sweatshirts, mugs and many more items from the comfort of your couch.
          <br><br>All items are ordered directly with Spreadshirt but are branded with the official ElixirConf EU designs. The store was created for our community but is a third party supplier. Any issues with the items should be directed to the supplier and not Code Sync.
        </p>
        <p class="text-content mb-5" align="center" style="margin-top:3em">
        <a class="page-scroll btn-outline btn-orange mb-5 btn-orange" href="https://shop.spreadshirt.co.uk/code-sync/">Visit the shop</a>
      </div>
      <div class="right-content">
          <br/>
          <img src="/assets/images/ECEU22-shop.png" alt="e-shop" style="width:700px;" href="https://shop.spreadshirt.co.uk/code-sync/">
      </div>
  </div>

</div>
