<div class="section sponsor" id="sponsors">
    <h2 class="title">SPONSORS</h2>
    <hr/>
    <!-- <p class="section-text">
        Nulla a tellus at turpis gravida congue non interdum et malesuada fames ac
                                                                                            ante ipsum primis
    </p> -->


    <div class="row sponsors">

      <h2 class="sponsor-title">Diversity & Inclusion Sponsor</h2>

          <a href="https://www.fresha.com/careers" target="_blank">
              <img src="{{site.baseurl}}/assets/images/LogoFresha-new.png" alt="Fresha" />
               </a>

                 <h2 class="sponsor-title">Platinum Sponsor</h2>

                      <a href="https://careers.yolo.com/" target="_blank">
                          <img src="/assets/images/yolo.png" alt="yolo" />
                           </a>

      <h2 class="sponsor-title">Gold Sponsors</h2>

            <a href="https://www.erlang-solutions.com/" target="_blank">
                <img src="{{site.baseurl}}/assets/images/esl logo.svg" alt="erlang solutions" />
                 </a>

      <h2 class="sponsor-title">Silver Sponsors</h2>

                     <a href="https://mainmatter.com/work/" target="_blank">
                         <img src="{{site.baseurl}}/assets/images/MainMatter.png" alt="MindMatter" />
                          </a>

    <h2 class="sponsor-title">Supporting Sponsor</h2>

             <a href="https://www.visitlisboa.com/en" target="_blank">
               <img src="{{site.baseurl}}/assets/images/TurismoLx_VrsPrincipalCor-.jpg" alt="Turismo de Lisboa" />
                </a>



        <!-- Sponsors Carousel -->
                    <!-- <div id="testimonials-carousel" class="sponsor-testimonial">
      {% for sponsor in site.data.sponsors %}
      <h3 class="name">{{ sponsor.name }}</h3>

      {% endfor %}
    </div> -->
    </div>
</div>
