<div class="section sponsor" id="sponsors">
  <h1 class="title">SPONSORS</h1>
  <hr />
  <!-- <p class="section-text">
        Nulla a tellus at turpis gravida congue non interdum et malesuada fames ac
                                                                                            ante ipsum primis
    </p> -->

  <div class="row sponsors">
    
     <h1 class="sponsor-title">Diversity Sponsor</h1>
    <a href="https://dnsimple.link/elixirconfEU2020" target="_blank">
      <img
        src="{{site.baseurl}}/assets/images/sponsors/dnsimple-logo-blue.png"
        alt="DNS Simple"
      />
    </a>
    
    <h1 class="sponsor-title">Gold Sponsors</h1>
    <a href="https://www.flyiin.com/" target="_blank">
      <img
        src="{{site.baseurl}}/assets/images/sponsors/flyiin_Logo.png"
        alt="Flyiin"
      />
    </a>
    <a
      href="https://www.clever-cloud.com/en/"
      target="_blank"
    >
      <img
        src="{{site.baseurl}}/assets/images/sponsors/clever-cloud.png"
        alt="Clever Cloud"
      />
    </a>
    
    
          <a
      href="https://www.kloeckner.com"
      target="_blank"
    >
      <img
        src="{{site.baseurl}}/assets/images/sponsors/Kloeckner.png"
        alt="Kloeckner"
      />
    </a>
    
      <a
      href="https://www.forzafootball.com/company"
      target="_blank"
    >
      <img
        src="{{site.baseurl}}/assets/images/sponsors/forzafootball.png"
        alt="forza football"
      />
    </a>
    
    
    <a href="https://blockfi.com/" target="_blank">
      <img
        alt="Block Fi"
        src="{{site.baseurl}}/assets/images/sponsors/blockfi.png"
      />
    </a>
        <a href="https://www2.erlang-solutions.com/elixirconfEU2020" target="_blank">
      <img
        alt="CoinGaming"
        src="{{site.baseurl}}/assets/images/sponsors/Erlang-Solutions-Logo.png"
      />
    </a>
    
        <a href="https://coingaming.recruitee.com/" target="_blank">
      <img
        alt="CoinGaming"
        src="{{site.baseurl}}/assets/images/sponsors/coingaming-ec.png"
      />
    </a>
    
    
    
    
    <h1 class="sponsor-title">Silver Sponsors</h1>
    <a href="https://appsignal.com/" target="_blank">
      <img
        src="{{site.baseurl}}/assets/images/sponsors/appsignal.png"
        alt="AppSignal"
      />
    </a>
    <a href="https://pleroma.social/" target="_blank">
      <img
        src="{{site.baseurl}}/assets/images/sponsors/pleroma.png"
        alt="Pleroma"
      />
    </a>
    <a href="https://simplabs.com/" target="_blank">
      <img
        src="{{site.baseurl}}/assets/images/sponsors/Simplabs_logo.png"
        alt="Pleroma"
      />
    </a>
    
   
    
    <h1 class="sponsor-title">Media Sponsors</h1>
    <a href="http://elixirfountain.com/" target="_blank">
      <img
        src="{{site.baseurl}}/assets/images/sponsors/elixirfountain-logo.png"
        alt="Elixir Fountain"
      />
    </a>
    <a
      href="http://plataformatec.com.br/elixir-radar/weekly-newsletter"
      target="_blank"
    >
      <img
        src="{{site.baseurl}}/assets/images/sponsors/elixirradar2.gif"
        alt="Elixir Radar"
      />
    </a>
     <a
      href="https://write-with-us.pragprog.com/#WhyPublishWithUs"
      target="_blank"
    >
      <img
        src="{{site.baseurl}}/assets/images/sponsors/pragmatic-e.png"
        alt="Pragmatic Bookshelf"
      />
    </a>
    

    <!-- Sponsors Carousel -->
    <!-- <div id="testimonials-carousel" class="sponsor-testimonial">
      {% for sponsor in site.data.sponsors %}
      <h3 class="name">{{ sponsor.name }}</h3>

      {% endfor %}
    </div> -->
  </div>
</div>
