<div class="section sponsor" id="sponsors">
    <h2 class="title">SPONSORS</h2>
    <hr/>
    <!-- <p class="section-text">
        Nulla a tellus at turpis gravida congue non interdum et malesuada fames ac
                                                                                            ante ipsum primis
    </p> -->

    <div class="row sponsors">
        <h2 class="sponsor-title">Diversity & Inclusion Sponsors</h2>

        <a href="https://duffel.com/" target="_blank">
            <img src="{{site.baseurl}}/assets/images/duffel-4.png" alt="Duffel" />
      
        <a href="https://remote.com/" target="_blank">
            <img src="{{site.baseurl}}/assets/images/remote-logo.png" alt="remote" />
        </a>

  <h2 class="sponsor-title">Platinum Sponsors</h2>

        <a href="https://www.fresha.com/" target="_blank">
            <img src="{{site.baseurl}}/assets/images/fesha-logo3.png" alt="Fresha" />
        </a>
        
       <h2 class="sponsor-title">Gold Sponsors</h2>

        <a href="https://www.clever-cloud.com/en/" target="_blank">
            <img src="{{site.baseurl}}/assets/images/sponsors/clever-cloud.png" alt="Clever Cloud"/>
        </a>
          <a href="https://www.priceline.com/?vrid=a490dcea3cb2dcacef9edf1a05e33384" target="_blank">
            <img src="{{site.baseurl}}/assets/images/rgb_blue_2021pclnlogo-3.png" alt="Clever Cloud"/>
        </a>

        <a href="https://www.kloeckner.com" target="_blank">
            <img src="{{site.baseurl}}/assets/images/sponsors/Kloeckner.png" alt="Kloeckner"/>
        </a>

        <a href="https://www2.erlang-solutions.com/elixirconfEU2020" target="_blank">
            <img alt="CoinGaming" src="{{site.baseurl}}/assets/images/erlang-solutions-logo_erlang-solutions-logo-black.png"/>
        </a>

        <a href="https://coingaming.recruitee.com/" target="_blank">
            <img alt="CoinGaming" src="{{site.baseurl}}/assets/images/sponsors/coingaming-ec.png"/>
        </a>
        <h2 class="sponsor-title">Student & Diversity Sponsors</h2>

         <a href="https://erlef.org/" target="_blank">
            <img src="{{site.baseurl}}/assets/images/eef-logo.svg" alt="remote" />
        </a>

        <!-- Sponsors Carousel -->
                    <!-- <div id="testimonials-carousel" class="sponsor-testimonial">
      {% for sponsor in site.data.sponsors %}
      <h3 class="name">{{ sponsor.name }}</h3>

      {% endfor %}
    </div> -->
    </div>
</div>
