<div class="section training" id="training">
    <h2 class="title">TRAINING & TUTORIAL</h2>
    <hr />
    <div class="table-container">
        {% for item in site.data.training-list.trainings %} {% assign training =
        site.trainings | where_exp: "training", "item.training == training.path"
        | first %} {% if training != null %}
        <div class="table-item">
            <div class="item-col item-hours" onload="this.innerText = 'foo'">
                {% assign start_date = item.start | date: '%d' %} {% assign
                end_date = item.end | date: '%d' %} {% if start_date != end_date
                %} {{ start_date }}-{{ end_date }} {{ item.start | date: '%b %Y'
                }} {{ item.start | date: '%-H' }}:{{ item.start | date: '%M'
                }}-{{ item.end | date: '%-H' }}:{{ item.end | date: '%M' }} CEST
                {% else %} {{ item.start | date: '%-d %b %Y' }} {{ item.start |
                date: '%-H' }}:{{ item.start | date: '%M' }}-{{ item.end | date:
                '%-H' }}:{{ item.end | date: '%M' }} CEST {% endif %}
            </div>

            <div class="item-col item-training">
                <a href="{{training.url | relative_url }}">
                    <p class="item-title">{{training.title }}</p>
                </a>
                {% for trainer_path in training.trainers %} {% assign
                participant = site.participants | where_exp: "x", "trainer_path
                == x.path" | first %}

                <a href="{{ participant.url | relative_url }}">
                    <p class="item-trainer">Trainer: {{ participant.name}}</p>
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %} {% endfor %}
    </div>
</div>
