<div class="section training" id="training">
    <h2 class="title">TRAINING</h2>
    <hr/>
    <div class="table-container">
        {% for training in site.data.training %}
            <div class="table-item">
                <div class="item-col item-hours">
                    {{training.from}}
                    -
                    {{training.to}}
                </div>
                <div class="item-col item-training">
                    <a href="{{site.baseurl}}/trainings/{{training.training_1_url}}">
                        <p class="item-title">{{training.training_1}}</p>
                    </a>
                    <p class="item-trainer">{{training.training_1_instructor}}</p>
                    <p class="item-trainer">{{training.training_1_instructor_2}}</p>
                </div>
                <div class="item-col item-training">
                    <a href="{{site.baseurl}}/trainings/{{training.training_2_url}}">
                        <p class="item-title">{{training.training_2}}</p>
                    </a>
                    <p class="item-trainer">{{training.training_2_instructor}}</p>
                </div>
            </div> 
        {% endfor %}
    </div>
</div>
