<div class="section training" id="training">
    <h2 class="title">TRAINING</h2>
    <hr />
    <div class="table-container">
        {% for item in site.data.training-list %}

        {% assign training = site.trainings | where_exp: "training", "item.training == training.path" | first  %}

        {% if training != null %}
        <div class="table-item">
            <div class="item-col item-hours" onload="this.innerText = 'foo'">

                {% assign start_date = item.start | date: '%Y-%m-%d'%}
                {% assign start = item.start | date: '%Y-%m-%dT%H:%M:%SZ'%}
                {% assign end = item.end | date: '%Y-%m-%dT%H:%M:%SZ'%}

                {{start_date}}
                <script>
                    s = new Date("{{start}}")
                    out = s.getHours().toString().padStart(2, "0") + ':' + s.getMinutes().toString().padStart(2, "0")
                    out += "-"
                    e = new Date("{{end}}")
                    out += e.getHours().toString().padStart(2, "0") + ':' + e.getMinutes().toString().padStart(2, "0") + " " + "(" + Intl.DateTimeFormat().resolvedOptions().timeZone + ")"
                    document.write(out)
                </script>
            </div>

            <div class="item-col item-training">
                <a href="{{training.url | relative_url }}">
                    <p class="item-title">{{training.title }}
                    </p>
                </a>
                {% for trainer_path in training.trainers %}
                {% assign participant = site.participants | where_exp: "x", "trainer_path == x.path" | first  %}


                <a href="{{ participant.url | relative_url }}">
                    <p class="item-trainer">Trainer:
                        {{ participant.name}}</p>
                </a>
                {% endfor %}
            </div>

        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>