<div class="section speakers" id="speakers">
    <h2 class="title">TRAINERS</h2>
    <hr/>
    <div class="items-container">
        {% for item in site.data.trainers-list.trainers %}
            {% assign participant = site.participants | where_exp: "participant", "item == participant.path" | first  %}
            {% if participant != null %}
                <div class="item">
                    <a href="{{ participant.url | relative_url }}" class="item-head-link">
                        <div class="img" style="background-image: url('{{ participant.pic_url | relative_url }}');">
                            <i class="fa fa-plus-circle"></i>
                        </div>
                        <h4 class="item-name">
                            {{ participant.name}}
                        </h4>
                    </a>
                    <p class="item-position">{{ participant.tagline }}</p>
                    {% include participations.html participant=participant %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>