<div class="section trainers" id="trainers">
    <h2 class="title">TRAINERS</h2>
    <hr/>
    <div class="items-container">


        {% assign all_trainers = "" | split: ',' %}
        {% for ts in site.trainings %}
            {% for t in ts.trainers %}
                {% assign all_trainers = all_trainers | push: t %}
            {% endfor %}
        {% endfor %}


        {% for item in site.data.trainers-list.trainers %}
            {% assign participant = site.participants | where_exp: "participant", "item == participant.path" | first  %}
            {% assign is_trainer = all_trainers | where_exp: "trainer", "trainer == item" | first  %}
            {% if participant != null and is_trainer != null%}
                <div class="item">
                    <a href="{{ participant.url | relative_url }}" class="item-head-link">
                        <div class="img-wrapper">
                            <img class="img" loading="lazy" src="{{ participant.pic_url | relative_url }}" alt="{{participant.name}}" />
                            <i class="fa fa-plus-circle"></i>
                        </div>
                        <h4 class="item-name">
                            {{ participant.name}}
                        </h4>
                    </a>
                    <p class="item-position">{{ participant.tagline }}</p>
                    {% include participations.html participant=participant section="trainers" %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>