<div class="section travelling" id="travelling">
    <div class="row">
        <div class="left-content left">
          <h2 class="title">Travelling to the UK</h2>
          <hr/>
          <p>
            For the first time ElixirConf will be in the United Kingdom, welcoming everybody from around the world to one of the most culturally diverse cities in Europe.<br><br>

            The UK is one of the most highly vaccinated countries in the world and the NHS has declared that the UK is now past the peak of the latest Omicron variant.
            Due to this downward trend the UK government has recently eased restrictions for entry from most countries.
            From 4.00 AM GMT on 11 February 2022, fully vaccinated passengers from most countries will not be required to test to enter the UK. They will only be required to fill out their passenger locator form before arriving.<br><br>

            For more information please visit <a href="https://www.gov.uk/guidance/travel-to-england-from-another-country-during-coronavirus-covid-19/" style="color: purple"><u>https://www.gov.uk/</u></a>.
          </p>
        </div>
        <div class="right-content">
            <br/>
            <img src="/assets/images/traveling.jpg" alt="hybrid-conference" style="width:700px;">
        </div>
    </div>


</div>
