<div class="section travelling" id="travelling">
    <div class="row">
        <div class="left-content left">
          <h2 class="title">Travelling to the UK</h2>
          <hr/>
          <p>
            For the first time ElixirConf will be in the United Kingdom, welcoming everybody from around the world to one of the most culturally diverse cities in Europe.<br><br>

            The UK is one of the most highly vaccinated countries in the world and the NHS has declared that the UK is now past the peak of the latest Omicron variant.
            Due to this downward trend the UK government has recently eased restrictions for entry from most countries.
            From 18 March, all COVID-19 travel restrictions have been lifted, including the passenger locator form (PLF) for arrivals into the UK, as well as all tests for passengers who do not qualify as vaccinated. This change, therefore, removes the need for unvaccinated passengers to take a pre-departure test and a "Day 2" post-arrival test.<br><br>

            For more information please visit <a href="https://www.gov.uk/guidance/travel-to-england-from-another-country-during-coronavirus-covid-19/" style="color: purple"><u>https://www.gov.uk/</u></a>.
          </p>
        </div>
        <div class="right-content right">
          <h2 class="title">Travelling back from the UK</h2>
          <hr/>
          <p>You may be required to take a PCR or lateral flow test before travelling back home. This <a href="https://www.covid19-testing.org/travel-testing?gclid=Cj0KCQiA9OiPBhCOARIsAI0y71Bxa8i6Ac6Plcge6537jAQ0GQ5b0ToKK4pXCFuTYpRTMYycVQj3z2QaAreUEALw_wcB" style="color: purple"><u>website</u></a> gives you all of the latest requirements to travel back including the nearest centre to take any test.<br><br>
          If you are travelling as a group, we can offer a group discount on your ticket to help towards the cost of the test. We will also consider discounts for individuals, who cannot cover the additional cost of testing, please contact us directly.
          </p>
        </div>
    </div>
</div>
