<div class="section venue" id="venue">
    <div class="row">
        <div class="left-content left">
            <h2 class="title">VENUE & ACCOMMODATION</h2>
            <hr/>
            <p class="venue-subtitle">ILEC Conference Centre</p>
            <p class="venue-text">IBIS London Earls Court<br>
              47 Lillie Road<br>
              London, SW6 1UD, UK</p>
            <div class="row">
                <div class="col-left">
                    <div class="col-row">
                        <p class="venue-text">+44 (0)20 7666 8470</p>
                    </div>
                    <div class="col-row">
                      <h2 class="venue-subtitle">
                          <strong><a href="https://all.accor.com/hotel/5623/index.en.shtml?utm_campaign=seo+maps&utm_medium=seo+maps&utm_source=google+Maps" style="color: #E94D8B">HOTEL DETAILS</a><br>
                            <a href="https://all.accor.com/hotel/5623/index.en.shtml?utm_campaign=seo+maps&utm_medium=seo+maps&utm_source=google+Maps#section-location" style="color: #E94D8B">MAPS & DIRECTIONS</a></strong><br><br>
                      </h2>
                    </div>
                </div>
                <div class="col-right">
                  <!--  <h2 class="venue-subtitle">Training Venue</h2>-->
                    <div class="col-row">
                        <div class="col">
                           <!-- <p class="venue-text">Centrum Konferencyjne,</p>
                            <p class="venue-text">Golden Floor Tower, ul.</p>
                            <p class="venue-text">Chłodna 51,</p>
                            <p class="venue-text">00-867 Warszawa</p>-->
                        </div>
                    </div>
                </div>
            </div>
<!--
            <h2 class="venue-subtitle">Accommodation</h2><br>
            <p>We have secured rooms at the Hilton Warsaw City Hotel from PLN 702 (gross, rate is subject to availability) to book please follow <a href="https://www.hilton.com/en/book/reservation/deeplink?ctyhocn=WAWHIHI&arrivalDate=2021-09-08&departureDate=2021-09-10&groupCode=GERLD&fromId=HILTONLINKDIRECT" style="color: orange">this link.</a></p>
-->
        </div>
        <div class="right-content">
            <br/>
            {% include map.html %}
        </div>
    </div>


</div>
