<div
    class="section venue"
    id="venue"
    style="background-image: url('{{site.baseurl}}/assets/images/dtbh-lobby.jpg');"
>
    <div class="row">
        <div class="left-content left">
            <h2 class="title" style="color: #ffffff">VENUE</h2>
            <hr />
            <p class="venue-subtitle">
                <strong
                    ><a
                        href="https://www.hilton.com/pl/hotels/krkccdi-doubletree-krakow-hotel-and-convention-center/"
                        >DoubleTree by Hilton</a
                    ></strong
                >
            </p>

            <p class="venue-subtitle">
                Dąbska 5<br />
                31-572 Kraków, Poland
            </p>
            <div class="row">
                <div class="col-left">
                    <div class="col-row">
                        <p class="venue-text">+48 12 201 40 00</p>
                    </div>
                    <div class="col-row"></div>
                </div>
                <div class="col-right">
                    <!--  <h2 class="venue-subtitle">Training Venue</h2>-->
                    <div class="col-row">
                        <div class="col">
                            <!-- <p class="venue-text">Centrum Konferencyjne,</p>
                            <p class="venue-text">Golden Floor Tower, ul.</p>
                            <p class="venue-text">Chłodna 51,</p>
                            <p class="venue-text">00-867 Warszawa</p>-->
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="venue-subtitle">Accommodation</h2>
            <p class="venue-text">
                We have secured rooms at the Hilton at 571 PLN per night, to
                book please follow
                <a
                    href="https://www.hilton.com/en/attend-my-event/krkccdi-celix5-84e2de3b-30da-4ac3-a85f-27216f95626/"
                    style="color: #e94d8b"
                    >this link.</a
                >
                Please mind the cancellation policy. If you don't mind a
                slightly lower standard of your stay, please check out the
                adjacent hotel -
                <a
                    href="https://www.hilton.com/en/hotels/krkhxhx-hampton-krakow/"
                    style="color: #e94d8b"
                    >Hampton by Hilton</a
                >, no swimming pool but slightly lower rates.
            </p>
        </div>
        <div class="right-content">
            <br />
            {% include map.html %}
        </div>
    </div>
</div>
