<div
    class="section venue"
    id="venue"
    style="background-image: url('{{site.baseurl}}/assets/images/nh-malaga-venue.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;"
>
    <div class="row">
        <div class="left-content left">
            <h2 class="title" style="color: #ffffff">VENUE</h2>
            <hr />
            <p class="venue-subtitle">
                <strong>NH Málaga</strong>
            </p>

            <p class="venue-subtitle">
                C. San Jacinto 2<br />
                29007 Málaga, Spain
            </p>
            <div class="row">
                <div class="col-left">
                    <div class="col-row">
                        <p class="venue-text">+34 952 07 25 91</p>
                    </div>
                    <div class="col-row"></div>
                </div>
                <div class="col-right">
                    <!--  <h2 class="venue-subtitle">Training Venue</h2>-->
                    <div class="col-row">
                        <div class="col">
                            <!-- <p class="venue-text">Centrum Konferencyjne,</p>
                            <p class="venue-text">Golden Floor Tower, ul.</p>
                            <p class="venue-text">Chłodna 51,</p>
                            <p class="venue-text">00-867 Warszawa</p>-->
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="venue-subtitle">Accommodation</h2>
            <p class="venue-text">
                We've arranged a special room allocation at NH Málaga for
                conference attendees. Staying at the venue makes it easy to have
                those spontaneous interactions with other attendees and speakers
                and enjoy the full conference experience. You can
                <a
                    href="https://www.nh-hotels.com/en/eventsweb/elixirconf-eu-staff-services"
                    style="color: #e94d8b"
                    >book directly through this link</a
                >.
            </p>
        </div>
        <div class="right-content">
            <br />
            {% include map.html %}
        </div>
    </div>
</div>
