<div class="section video" id="video">
    <h2 class="title">KEYNOTE VIDEOS</h2>
    <hr/>
    <div class="videos-container">
        {% for video in site.videos %}
            <div class="video-item">
                <div class="item-container">
                   <div class="item-right">
                   <iframe width="100%" height="185em" src="{{ video.video_url_short }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                 <a class="video-title" href="{{site.baseurl}}{{video.url}}">"{{ video.title }}"</a>
                 <p class="video-item-tags">{{ video.tags }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
