<div class="section video" id="video">
    <h2 class="title">OUR VIDEOS</h2>
    <hr/>
    <div class="videos-container">
        {% for video in site.videos %}
            <div class="video-item">
                <div class="item-container">
                   <div class="item-right">
                     {{ video.video_url }}
                 <h2 class="video-title" href="{{site.baseurl}}{{video.url}}">"{{ video.title }}"
                 </h2>
                 <p class="video-item-tags">{{ video.tags }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
