<div class="section welcome" id="welcome">
     <h2 class="title">WELCOME</h2>
     <hr/>

     <div class="row align-center">
         <div class="left-content flex-end">
             <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen frameborder="0" height="315" src="https://www.youtube.com/embed/czvkEMceBWw" width="100%"></iframe>
         </div>
         <div class="right-content">
             <h3 class="text-title mb-1">The premiere Elixir conference in Europe</h3>

             <p class="text-content mb-2">
                 The conference is a melting pot for new ideas and inspired thinking. It took place online on 7-8 October 2020.<br/>
                  It brought together over 370 attendees, including 26 speakers from around the World, such as Chris McCord, Linda Achieng Otieno, Sigu Magwa, Sophie DeBenedetto and Simon de Haan.
                 <br/><br/>
                  The videos can be viewed in the Video section<br/>
             </p>
             <!-- <a class="page-scroll btn-outline btn-orange mb-3 btn-orange" href="#register">Register</a> -->
         </div>
     </div>
 </div>
