<div class="section welcome" id="welcome">
     <h2 class="title">ABOUT THE EVENT</h2>
     <hr/>

     <div class="row align-center">
         <div class="left-content flex-end">
             <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen frameborder="0" height="315" src="https://www.youtube.com/embed/DwhlkYCSxAc" width="100%"></iframe>
         </div>         
          
          <div class="right-content">

              
             <h3 class="text-title mb-1">Europe’s largest Elixir & Phoenix Conference</h3>
             <p class="text-content mb-2">
               <strong>Every year, hundreds of developers with a passion for Elixir come together to learn about, share and inspire the progression of the Elixir ecosystem.<br>
Our events frequently include members of the core teams of Elixir’s biggest frameworks and are a hub for the announcement of new features and developments. Whether you’re new to Elixir or a seasoned Elixir developer there is something for everyone at ElixirConf EU. From in-depth Elixir training for all skill levels to immersive keynotes that bring you to the forefront of Elixir development, we are actively championing the continued growth of the Elixir community.
<br><br>
         </div>
     </div>
 </div>
