<div class="section welcome" id="welcome">
  <h1 class="title">WELCOME</h1>
  <hr />

  <div class="row align-center">
    <div class="left-content flex-end">
      <iframe
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        frameborder="0"
        height="315"
        src="https://www.youtube.com/embed/hvvc8kF5voU"
        width="100%"
      ></iframe>
    </div>
    <div class="right-content">
      <h3 class="text-title mb-1">The premiere Elixir conference in Europe</h3>
    
      <p class="text-content mb-2">
        The conference is a melting pot for new ideas and inspired thinking.<br />
        It showcases the great work being done with Elixir by individuals and companies alike. <br />
        It helps those new to the community find their feet, and welcomes back those who have attended before, to champion and progress the uptake and development of Elixir in Europe.<br />
      </p>
      <a
        href="#register"
        class="page-scroll btn-outline btn-orange mb-3 btn-orange"
        >Register</a>
    </div>
  </div>
</div>
