.banner-1
    align-items: center
    background-color: #543465
    display: flex
    justify-content: center
    padding: 2.8em 5em
    .text
        color: #fff
        font-size: 1.5em
        letter-spacing: .1em
        margin-right: 2em
        strong
            color: #ee5a30
