.banner-1
    align-items: center
    background-color: #543465
    display: flex
    justify-content: center
    padding: 2.8em 5em
    @media only screen and (max-width: 1112px)
        flex-wrap: wrap
    .text
        color: #fff
        font-size: 1.5em
        letter-spacing: .1em
        margin-right: 2em
        strong
            color: #ee5a30
        @media only screen and (max-width: 1112px)
            font-size: 1.3em
            margin: 0 0 1em 0
            text-align: center
.banner-2
    align-items: center
    background-color: #2f5677
    display: flex
    justify-content: center
    padding: 2.8em 5em
    @media only screen and (max-width: 1112px)
        flex-wrap: wrap
    .text
        color: #fff
        font-size: 1.5em
        letter-spacing: .1em
        margin-right: 2em
        strong
            color: #ee5a30
        @media only screen and (max-width: 1112px)
            font-size: 1.3em
            margin: 0 0 1em 0
            text-align: center
.banner-3
    align-items: center
    background-color: #ee5a30
    display: flex
    justify-content: center
    padding: 2.8em 5em
    @media only screen and (max-width: 1112px)
        flex-wrap: wrap
    .text
        color: #fff
        font-size: 1.5em
        letter-spacing: .1em
        margin-right: 2em
        strong
            color: #ee5a30
        @media only screen and (max-width: 1112px)
            font-size: 1.3em
            margin: 0 0 1em 0
            text-align: center
