.cft
    background-color: #D9DBDC
    color: #fff
    .title
        color: #ffffff
    .section-text
        color: #fff
    hr
        background: linear-gradient(to right, #9AD7D8 50%, #E94D8B 50%)
