.cft
    background-color: #323334
    color: #fff
    .title
        color: #ffffff
    .section-text
        color: #fff
    hr
        background: linear-gradient(to right, #ffffff 50%, #f15e2b 50%)

        .cft-content
            color: #ffffff
            font-size: 1em
            margin-top: .4em
            @media only screen and (max-width: 1112px)
                margin-bottom: .5em
                text-align: left
