.cover
    align-items: center
    background-image: url("/assets/images/ECEU23-banner.png")
    color: #fff
    display: flex
    flex-flow: column
    height: 42em
    padding: 13em 3em 3em 3em
    width: 100%
    @media only screen and (max-width: 1112px)
        height: auto
        text-align: center
    @media only screen and (min-width: 1347px)
        height: auto
    .logo
        width: 45%
        @media only screen and (max-width: 1112px)
            width: 90%
    .date
        color: #E94D8B
        font-size: 1.8em
        font-weight: 300
        letter-spacing: .1em
        margin: 1.5em 0
    .open
        font-size: 1.8em
        font-style: italic
        font-weight: 400
        letter-spacing: .1em
    hr
        display: block
        border: 1em solid #ee5a30
        margin-top: 2em
        margin-bottom: 2em
        margin-left: auto
        margin-right: auto
        border-style: inset
        border-width: 1px
        width: 2em
    .btn-arrow
        border: solid .09em #ee5a30
        border-radius: 60%
        font-size: 1.6em
        padding: .8em
