.cover
  align-items: center
  background-image: url("/assets/images/ElixirConfUS-banner-1920x717-5.jpg")
  color: #fff
  display: flex
  background-repeat: no-repeat
  background-size: cover
  flex-flow: column
  height: calc(42em + 20%)
  padding: 9em 3em 3em 3em
  width: 100%

  .logo
    width: 45%
    @media only screen and (max-width: 1112px)
    width: 90%
    
    .date
      color: #9AD7D8
      font-size: 1.8em
      font-weight: 500
      letter-spacing: .1em
      margin: 1.5em 0
    .open
      font-size: 1.8em
      font-style: italic
      font-weight: 400
      letter-spacing: .1em
    hr
      display: block
      border: 1em solid #ee5a30
      margin-top: 2em
      margin-bottom: 2em
      margin-left: auto
      margin-right: auto
      border-style: inset
      border-width: 1px
      width: 2em
    .btn-arrow
      border: solid .09em #9AD7D8
      border-radius: 60%
      font-size: 1.6em
      padding: .8em
