.footer
    align-items: center
    background-color: #202020
    color: #848484
    display: flex
    flex-flow: column
    justify-content: center
    position: relative
    padding: 5em 20%
    text-align: center
    width: 100%
    .social-icons
        margin: 1em 0
        a
            color: #848484
            font-size: 1.8em
            margin: .2em
    hr
        border: none
        border-top: .08em solid #848484
        margin-top: 1em
        width: 50%
    p
        color: #848484
        strong
            color: #ee5a30