body
  color: #543462
  font-family: 'Roboto', sans-serif
  margin: 0

*
  box-sizing: border-box

h1, h2, h3, h4, h5, p
  font-family: 'Roboto', sans-serif
  margin: 0

a
  color: #ffffff
  text-decoration: none

.navbar-fixed-top
  align-items: center
  display: flex
  justify-content: center
  padding: .5em 0
  position: fixed
  top: 0
  width: 100%
  .logo
    background-image: url('../../assets/images/imagotype.svg')
    background-position: 0 0
    background-repeat: no-repeat
    background-size: contain
    display: block
    height: 2em
    width: 2em
  .nav
    display: flex
    li
      list-style-type: none
      a
        padding-bottom: .5em
  .page-scroll
    font-weight: 200
    margin: 0 1em
  .active
    a
      color: #ee5a30
      border-bottom: solid .1em #ee5a30
.navbar-shrink
  background: #4b295c

.section
  height: 35em
  width: 100%

.btn-outline
  background: none
  border: solid .1em #fff
  border-radius: .3em
  font-size: 1.3em
  font-weight: 100
  letter-spacing: .16em
  padding: .5em 2.7em

.mb-3
  margin-bottom: 3.1em

.section
  align-items: center
  background-color: #fff
  display: flex
  flex-wrap: wrap
  justify-content: center
  padding: 6em 3em
  width: 100%
  .title
    text-align: center
    width: 100%
  hr
    border: none
    background: linear-gradient(to right, #2e5576 50%, #ee5a30 50%)
    display: block
    height: .5em
    margin-top: 2em
    margin-bottom: 2em
    margin-left: auto
    margin-right: auto
    width: 3em
  .row
    display: flex
    .left-content
      width: 50%
    .right-content
      width: 50%
