.sponsor
  background-color: #D9DBDC
  flex-wrap: wrap
  overflow: hidden
  .sponsor-title
    color: #D8598A
    font-size: 1.5em
    font-weight: 600
    letter-spacing: .1em
    padding: 1em 0
    text-align: center
    text-transform: uppercase
    width: 100%
  .sponsor-testimonial
    display: block
    position: relative
    margin-top: 50px
    width: 100%
    height: auto
  .row
    align-items: center
    flex-wrap: wrap
    justify-content: center
    width: 100%
  .sponsors
    a
      height: 4em
      margin: 1em
      width: auto
      img
        height: 100%
        width: auto

// Style Pagination Owl Carousel
.owl-theme
  .owl-controls
    margin-top: 10px
    text-align: center

    &.clickable .owl-buttons div:hover
      opacity: 1
      text-decoration: none

    .owl-buttons div
      color: white
      display: inline-block
      zoom: 1
      margin: 5px
      padding: 5px 10px
      font-size: 0.85rem
      border-radius: 30px
      background: gray
      opacity: 0.5

    .owl-page
      display: inline-block
      zoom: 1

      span
        display: block
        width: 30px
        height: 5px
        margin: 20px 4px 10px 4px
        border-radius: 3px
        background: grey

        &.active,
        &:hover
        span
          background: blue
