.venue
    .row
        align-items: flex-start
        display: flex
        width: 100%
        .left
            align-items: flex-start
            text-align: left
            .title
                text-align: left
            hr
                margin-left: 0
        .col-left
            display: flex
            flex-flow: column
            justify-content: flex-start
            width: 50%
        .col-right
            display: flex
            flex-flow: column
            justify-content: flex-start
            width: 50%
    .col-row
        align-items: center
        display: flex
    .venue-subtitle
        color: #201f2a
        font-size: .8em
        margin-right: .5em
    .venue-text
        color: #999999
        font-size: .8em
        strong
            color: #201f2a

#gmap_canvas
    border-radius: 50%
    height: 490px
    width: 490px
