.welcome
    align-items: center
    background-color: #fff
    display: flex
    flex-wrap: wrap
    justify-content: center
    padding: 6em 3em
    width: 100%
    .title
        text-align: center
        width: 100%
    .left-content
        width: 50%
    .right-content
        width: 50%