<head>
  <meta charset="utf-8" />
  <meta content="IE=edge" http-equiv="X-UA-Compatible" />
  <title>{{ site.title }}</title>
  <meta content="width=device-width" name="viewport" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="description" content="{{ site.description }}" />
  <link
    rel="canonical"
    href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
  />
  <link rel="stylesheet" href="{{ "/assets/css/styles.css" | prepend:
  site.baseurl }}">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=UA-44973668-1"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-44973668-1");
  </script>
  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "GTM-KRSPKJ3");
  </script>
  <!-- End Google Tag Manager -->
{% if site.data.settings.homepage_settings.testimonials.show %}
  <link rel="stylesheet" href="{{"/assets/css/owl.carousel.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{"/assets/css/owl.theme.default.min.css" | prepend: site.baseurl }}">
{% endif %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.32/moment-timezone-with-data.min.js"></script>

  {% seo %}

  <!--Remove image dragging -->
  <body ondragstart="return false;" ondrop="return false;">
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{
      "/assets/font-awesome/css/fontawesome.min.css" | prepend: site.baseurl }}">
      <link rel="stylesheet" href="{{
        "/assets/font-awesome/css/v4-shims.min.css" | prepend: site.baseurl }}">
      <link rel="stylesheet" href="{{
        "/assets/font-awesome/css/brands.min.css" | prepend: site.baseurl }}">
        <link rel="stylesheet" href="{{
          "/assets/font-awesome/css/solid.min.css" | prepend: site.baseurl }}">
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Kaushan+Script"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Karla:400,400i,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400i,700i"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700"
      rel="stylesheet"
      type="text/css"
    />

    <!-- WEBSITE ICON IN BROWSER -->
    <!-- <link href="/css/2016_style/img/icon.png" rel="icon" type="image/png"> -->
  </body>
  <script>
    (function () {
      window.ldfdr = window.ldfdr || {};
      (function (d, s, ss, fs) {
        fs = d.getElementsByTagName(s)[0];
        function ce(src) {
          var cs = d.createElement(s);
          cs.src = src;
          setTimeout(function () {
            fs.parentNode.insertBefore(cs, fs);
          }, 1);
        }
        ce(ss);
      })(
        document,
        "script",
        "https://sc.lfeeder.com/lftracker_v1_bElvO73DxJE4ZMqj.js"
      );
    })();
  </script>
  <!-- Hotjar Tracking Code for www.elixirconf.eu -->
  <!-- <script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1678389,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script> -->

<!-- GetResponse Analytics -->
  <script type="text/javascript">
  (function(m, o, n, t, e, r, _){
          m['__GetResponseAnalyticsObject'] = e;m[e] = m[e] || function() {(m[e].q = m[e].q || []).push(arguments)};
          r = o.createElement(n);_ = o.getElementsByTagName(n)[0];r.async = 1;r.src = t;r.setAttribute('crossorigin', 'use-credentials');_.parentNode .insertBefore(r, _);
      })(window, document, 'script', 'https://an.gr-wcon.com/script/7d8e390f-a4a7-43c7-b578-a1caa748c168/ga.js', 'GrTracking');
  </script>
  <!-- End GetResponse Analytics -->
</head>
