<!-- jQuery Version 1.11.0 -->
<script src="{{ "/assets/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ "/assets/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/classie.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/assets/js/agency.js" | prepend: site.baseurl }}"></script>

<!-- Owl Carousel -->
<script src="{{ site.baseurl }}/assets/js/carousel.min.js" charset="utf-8"></script>

<!-- Parallaxing & SmoothScroll -->
<script src="{{ site.baseurl }}/assets/js/scrollax.min.js" charset="utf-8"></script>

{% if site.smooth-scroll %}
    <script src="{{ site.baseurl }}/assets/js/smoothscroll.js" charset="utf-8"></script>
{% endif %}

<!-- Main JS -->
<script src="{{ site.baseurl }}/assets/js/main.js" charset="utf-8"></script>