<!DOCTYPE html>
<html>
    {% include imports/head.html %}

    <body>
        <!-- <div class="page-loader" id="page-loader">
            <span class="load-icon"></span> -->
       <!-- </div> -->
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KRSPKJ3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    
        {% include navigation.html %}
        {{ content }}
        {% include footer.html %}
        {%include imports/js.html %}
    </body>
</html>
