<!DOCTYPE html>
<html>
    {% include imports/head.html %}

    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-KRSPKJ3" style="display:none;visibility:hidden" width="0"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->

        {% include navigation.html %}
        {{ content }}
        {% include footer.html %}
        {%include imports/js.html %}
    </body>
</html>
