<!DOCTYPE html>
<html>
{% include imports/head.html %}

<body>
  </div>
  {% include navigation_2.html %}
  <div class="speaker-content">
    <div class="speaker-card">
      <div class="speaker-head">
        <div class="img" style="background-image: url('{{site.baseurl}}/assets/images/speakers/{{ page.pic_url }}');"></div>
        <div class="speaker-col">
          <h2 class="speaker-name">
            {{ page.firstname }}
            {{ page.lastname }}
          </h2>
          <h4 class="speaker-position">{{ page.position }}</h4>
          <h4 class="speaker-desc">{{ page.description }}</h4>
        </div>
      </div>
    </div>

    
    
    {{ page.training }}
    {{ page.github }}
    {{ page.twitter }}
  </div>
  {% include footer.html %}
  {% include imports/js.html %}
</body>

</html>