<!DOCTYPE html>
<html>
{% include imports/head.html %}

<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KRSPKJ3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    
    </div>
    {% include navigation_2.html %}
    <div class="training-content">
        <div class="training-card">
            <div class="training-head">
                <div class="training-col">
                    <h1 class="training-name">
                        {{ page.title }}
                    </h1>
                    <div class="training-info">
                        <p><strong>Speaker:</strong><br> <a
                                href="{{site.baseurl}}/speakers/{{ page.speaker }}">{{ page.speaker_name }}</a></p>
                    </div>

                    <div class="training-info">
                        <p><strong>Abstract:</strong></p>
                        <div class="content">
                            {{ page.content | markdownify }}
                        </div>
                    </div>
                    
                
                 
          
                    
                    <!--    <div class="training-info">  -->
                        
                     <!--   <p><strong>Audience:</strong><br> {{ page.audience }}</p> -->
                        
                      <!--    </div> -->
                    <div class="training-info">
                            <!--      <p><strong>Date:</strong><br> {{ page.event_date }}</p> -->
                    </div>
                    <div class="training-info">
                    <!--       <p><strong>Venue:</strong><br> {{ page.venue }}</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include footer.html %}
    {% include imports/js.html %}
</body>

</html>
