<!DOCTYPE html>
<html>
{% include imports/head.html %}

<body>
    </div>
    {% include navigation_2.html %}
    <div class="training-content">
        <div class="training-card">
            <div class="training-head">
                <div class="training-col">   
                    <h2 class="training-name">
                        {{ page.title }}
                    </h2>
                    <h4 class="training-info"><strong>Trainer:</strong> <a href="{{site.baseurl}}/speakers/{{ page.speaker }}">{{ page.trainer }}</a></h4>
                    <h4 class="training-info"><strong>Date:</strong> {{ page.event_date }}</h4>
                    <h4 class="training-info"><strong>Venue:</strong> {{ page.venue }}</h4>
                    <h4 class="training-info"><strong>Summary:</strong> {{ page.description }}</h4>
                    <h4 class="training-info"><strong>Description:</strong> {{ page.description }} <br>
                    <h4 class="training-info"><strong>Experience level:</strong> {{ page.experience }} <br>
                       
                    </h4>
                </div>
            </div>
        </div>
    </div>
    {% include footer.html %}
    {% include imports/js.html %}
</body>

</html>